<div>
	<div id="Home">
		<div class="image-container">
            <nav class="navbar navbar-expand-lg navbar-light btn-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#Home"><img src="~/Images/Logo_Circle.png" class="logo-resize-small" alt="Alternate Text" /></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#Home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#AboutUs">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="text-center text-white pt-5">
                <div class="mt-md-5 pt-5">
                    <h1 class="title-text">Shattayu Homeopathy</h1>
                    <h3>YOUR HEALTH IS OUR CONCERN </h3>

                </div>
            </div>
	   </div>
	</div>
    <div class="row" id="AboutUs">
        <div class="col-md-7 p-5">
            <h4>About Us</h4>
            <p class="pb-0">Dr. Ushma Rami, is a practicing homeopathic consultant at Shattayu Homeopathic Clinic, Kudasan Gandhinagar, Gujarat</p>
            <p class="pt-1">Dr. Ushma is very good at Pediatric consultation and child behavior counselling and treatment. She suggests Diet and Yoga based on clinical observation as a comprehensive approach of healing</p>
            <h3>Education</h3>
            <ul>
                <li>She is a Bachelor in Homeopathic Medicine and Surgery (BHMS) from Baroda Homoeopathic Medical College and Hospital Baroda, Gujarat in the year 2008</li>
                <li>She also holds Post-graduation diploma in Garbhsanskar and prenatal care, from children university, Gandhinagar and A Diploma in YOGA. </li>
            </ul>
            <h3>Experience</h3>
            <ul>
                <li>She is having experience of 13+ years of homeopathy medicines and consultation having treated over 5000+ patients in Pune and Gandhinagar</li>
                <li>She also served as Medical Officer at Gandhinagar Homeopathic College. She is also serving as Homeopathy consultant at Kalpataru Charitable Trust.</li>
            </ul>
        </div>
        <div class="col-md-5">

        </div>

    </div>
    <div id="Specialization">
        <div class="image-container-sp"></div>

    </div>
</div>