<div>
	<div id="Home">
		<div class="image-container">
			<nav class="navbar navbar-expand-lg navbar-dark navbar-bg-custom">
				<div class="container-fluid">
					<a class="navbar-brand" href="#Home"><img src="~/Images/Logo_Circle.png" class="logo-resize-small" alt="Alternate Text" /></a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link ps-3 pe-3 font-medium " aria-current="page" href="#Home">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link ps-3 pe-3 font-medium " href="#AboutUs">About Us</a>
							</li>
							<li class="nav-item">
								<a class="nav-link ps-3 pe-3 font-medium" href="#Specialization">Services</a>
							</li>
							<li class="nav-item">
								<a class="nav-link ps-3 pe-3 font-medium" href="#ContactUs">Contact Us</a>
							</li>
							<li class="nav-item">
								<a style="color:black; border-radius:20px;" class="nav-link ps-3 pe-3 font-medium btn-book ps-2 pe-2" href="#BookAppointment">Book an Appointment</a>
							</li>

						</ul>
					</div>
				</div>
			</nav>
			<div class="text-center text-white pt-5">
				<div class="mt-md-5 pt-md-5 pb-md-5 outlined-text">
					<h1 class="title-text">SHATTAYU</h1>
					<h1 class="title-sm-text">HOMEOPATHY</h1>
					<h3>YOUR HEALTH IS OUR CONCERN </h3>
					<br class="d-md-none" /><br class="d-md-none" /><br class="d-md-none" />


				</div>
			</div>
		</div>
	</div>
	<div class="row about-uc-bg" id="AboutUs">
		<div class="col-md-6 col-12 p-5 pt-3 text-white navbar-bg-custom">
			<h3 class="text-center">About Us</h3><br />
			<p class="pb-0">Dr. Ushma Rami, is a practicing homeopathic consultant at Shattayu Homeopathic Clinic, Kudasan Gandhinagar, Gujarat</p>
			<p class="pt-1">Dr. Ushma is very good at Pediatric consultation and child behavior counselling and treatment. She suggests Diet and Yoga based on clinical observation as a comprehensive approach of healing</p>
			<h3>Education</h3>
			<ul>
				<li>She is a Bachelor in Homeopathic Medicine and Surgery (BHMS) from Baroda Homoeopathic Medical College and Hospital Baroda, Gujarat in the year 2008</li>
				<li>She also holds Post-graduation diploma in Garbhsanskar and prenatal care, from children university, Gandhinagar and A Diploma in YOGA. </li>
			</ul>
			<h3>Experience</h3>
			<ul>
				<li>She is having experience of 13+ years of homeopathy medicines and consultation having treated over 5000+ patients in Pune and Gandhinagar</li>
				<li>She also served as Medical Officer at Gandhinagar Homeopathic College. She is also serving as Homeopathy consultant at Kalpataru Charitable Trust.</li>
			</ul>
		</div>
		<div class="col-md-6 col-12 text-white fw-bold" id="BookAppointment">
			<h3 class="text-center m-2"> Book an appointment</h3><br />
			<form>
				<div class="container mb-2 ">
					<div class="p-2 border-solid rounded shadow">					
					<div>
						<div class="mb-3">
							<label for="FirstName" class="form-label">First Name</label>
							<input type="text" class="form-control" id="FirstName">
						</div>
					</div>
					<div>
						<div class="mb-3">
							<label for="LastName" class="form-label">Last Name</label>
							<input type="text" class="form-control" id="LastName">
						</div>
					</div>
					<div>
						<div class="mb-3">
							<label for="Email" class="form-label">Email Address</label>
							<input type="email" class="form-control" id="Email">
						</div>
					</div>
					<div>
						<div class="mb-3">
							<label for="Contact" class="form-label">Contact Number</label>
							<input type="number" class="form-control" id="Contact">
						</div>
					</div>
					<div class="d-inline-flex">
						<div class="form-check m-2">
							<input class="form-check-input" type="radio" name="Gender" id="male">
							<label class="form-check-label" for="male">
								Male
							</label>
						</div>
						<div class="form-check m-2">
							<input class="form-check-input" type="radio" name="Gender" id="female">
							<label class="form-check-label" for="female">
								Female
							</label>
						</div>
						<div class="form-check m-2">
							<input class="form-check-input" type="radio" name="Gender" id="other">
							<label class="form-check-label" for="other">
								Other
							</label>
						</div>

					</div>
					<div class="form-group">
						<label for="symptoms mb-2">Symptoms</label>
						<textarea class="form-control mb-3" id="symptoms" rows="3"></textarea>
					</div>
					<div>
						<button type="submit" class="btn btn-success w-100 mb-3">Book An Appointment</button>
					</div>
					</div>
				</div>
			</form>

		</div>
	</div>
	<div id="Specialization" style="position: relative; background-image: url('../Images/Expertise.png'); background-size: cover; background-position: center;">
		<br />
		<h3 class="text-center text-white fw-bold">Services that we provide</h3>
	<div class="slide-container swiper pt-2 pb-3 ">
		<div class="slide-content">
			<div class="card-wrapper swiper-wrapper">
				<div class="card swiper-slide">
					<div class="image-content">
						<span class="overlay"></span>

						<div class="card-image">
							<img src="/Images/allergies.jpg" alt="" class="card-img">
						</div>
					</div>

					<div class="card-content">
						<h2 class="name">
							All Allergic Condition
						</h2>
						<p class="card-text">
							Allergic reactions can range from mild discomfort to severe life-threatening symptoms. We specialize in diagnosing and treating allergies, including seasonal, food, and environmental triggers, helping you manage symptoms for a healthier life.
						</p>
					</div>
				</div>
				<div class="card swiper-slide">
					<div class="image-content">
						<span class="overlay"></span>

						<div class="card-image">
							<img src="~/Images/Respiratory_Complaints.jpg" alt="" class="card-img">
						</div>
					</div>

					<div class="card-content">
						<h2 class="name">
							Respiratory Complaint
						</h2>
						<p class="card-text">
							Respiratory complaints like coughing and difficulty breathing can be caused by infections or allergies. Our homeopathic treatments help relieve congestion, ease breathing, and improve lung function naturally.
						</p>
					</div>
				</div>
				<div class="card swiper-slide">
					<div class="image-content">
						<span class="overlay"></span>

						<div class="card-image">
							<img src="~/Images/Pediatric_Diseases.jpg" alt="" class="card-img">
						</div>
					</div>

					<div class="card-content">
						<h2 class="name">
							Pediatric Diseases
						</h2>
						<p class="card-text">Pediatric diseases, often caused by infections or allergens, affect children and infants. We offer gentle homeopathic treatments for colic, teething, allergies, and infections, focusing on boosting immunity and overall health naturally.</p>

					</div>
				</div>
				<div class="card swiper-slide">
					<div class="image-content">
						<span class="overlay"></span>

						<div class="card-image">
							<img src="~/Images/PCOD_Symp.jpg" alt="" class="card-img">
						</div>
					</div>

					<div class="card-content">
						<h2 class="name">
							Female Problems PCOD
						</h2>
						<p class="card-text">Polycystic Ovary Disease (PCOD) is a hormonal disorder affecting many women. We offer effective solutions to manage symptoms like irregular periods, weight gain, and fertility concerns, improving overall quality of life.</p>

					</div>
				</div>
				<div class="card swiper-slide">
					<div class="image-content">
						<span class="overlay"></span>

						<div class="card-image">
							<img src="/Images/Hair_fall.jpg" alt="" class="card-img">
						</div>
					</div>

					<div class="card-content">
						<h2 class="name">
							Hair Problems
						</h2>
						<p class="card-text">Hair loss and scalp issues can be distressing, but with the right diagnosis and treatment, they are often manageable. We offer effective solutions for hair restoration, growth stimulation, and scalp care tailored to your needs.</p>

					</div>
				</div>
				<div class="card swiper-slide">
					<div class="image-content">
						<span class="overlay"></span>

						<div class="card-image">
							<img src="/Images/migrain.jpg" alt="" class="card-img">
						</div>
					</div>

					<div class="card-content">
						<h2 class="name">
							Migraine, Sinus
						</h2>
						<p class="card-text">Migraine headaches and sinus issues often go hand-in-hand, causing severe pain and discomfort. We offer targeted treatments to reduce frequency, intensity, and alleviate symptoms for a better quality of life.</p>

					</div>
				</div>
				<div class="card swiper-slide">
					<div class="image-content">
						<span class="overlay"></span>

						<div class="card-image">
							<img src="~/Images/piles.jpg" alt="" class="card-img">
						</div>
					</div>

					<div class="card-content">
						<h2 class="name">
							Piles, Cyst
						</h2>
						<p class="card-text">Piles (hemorrhoids) and cysts can cause discomfort and affect daily activities. Our clinic provides a range of treatments, from lifestyle changes to minimally invasive procedures, to manage and eliminate these conditions.</p>

					</div>
				</div>
				<div class="card swiper-slide">
					<div class="image-content">
						<span class="overlay"></span>

						<div class="card-image">
							<img src="~/Images/backache.jpg" alt="" class="card-img">
						</div>
					</div>

					<div class="card-content">
						<h2 class="name">
							Backache, Spondylosis
						</h2>
						<p class="card-text">Back pain and spondylosis (degenerative spinal conditions) can disrupt daily life. We provide personalized treatments, including physiotherapy, medication, and lifestyle changes, to relieve pain and prevent further damage.</p>

					</div>
				</div>
				<div class="card swiper-slide">
					<div class="image-content">
						<span class="overlay"></span>

						<div class="card-image">
							<img src="/Images/Sciatica.jpg" alt="" class="card-img">
						</div>
					</div>

					<div class="card-content">
						<h2 class="name">
							Sciatica, Joint Pain
						</h2>
						<p class="card-text">Sciatica and joint pain can disrupt mobility and quality of life. Our comprehensive treatment approach, including physical therapy and pain management, helps relieve discomfort and restore movement for a healthier, more active life.</p>
					</div>
				</div>
			</div>
		</div>
		<br />

		<div class="swiper-button-next swiper-navBtn"></div>
		<div class="swiper-button-prev swiper-navBtn"></div>
		<div class="swiper-pagination"></div>
	</div>
	</div>
	<div id="ContactUs" style="position: relative; background-image: url('../Images/Contact_Bg.png'); background-size: cover; background-position: center">
		<div class="navbar-bg-custom">
			@* <div class="col-md-6 col-12 text-center pt-3">
				<div class="ratio ratio-16x9 m-md-3">
					<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d117368.78861500487!2d72.554161531783!3d23.178423675562684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m5!1s0x395c2bec039dba7f%3A0x92683ded51c46bda!2sShop%20no%20103%2C%201%20st%20floor%2C%20Swagat%20Rainforest%201%2C%20near%20hdfc%20bank%2C%20Kudasan%2C%20Gandhinagar%2C%20Gujarat%20382421!3m2!1d23.178287299999997!2d72.6365644!4m0!5e0!3m2!1sen!2sin!4v1736537152938!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div> *@
			<div class="text-white">
				<div>
					<h3 class="text-center p-3">Contact Us</h3>
				</div>
				<div class="row justify-content-center w-100 ps-lg-0 ps-3">
					<div class="col-lg-1 d-none d-lg-block"></div>
				
				<div class="col-lg-4 d-inline-flex">
					<div>
						<button class="icon-style p-2">
								<a style ="text-decoration:none" href="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d117368.78861500487!2d72.554161531783!3d23.178423675562684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m5!1s0x395c2bec039dba7f%3A0x92683ded51c46bda!2sShop%20no%20103%2C%201%20st%20floor%2C%20Swagat%20Rainforest%201%2C%20near%20hdfc%20bank%2C%20Kudasan%2C%20Gandhinagar%2C%20Gujarat%20382421!3m2!1d23.178287299999997!2d72.6365644!4m0!5e0!3m2!1sen!2sin!4v1736537152938!5m2!1sen!2sin">
							<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
								<path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
								<path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
									</svg>
								</a>
						</button>
					</div>
					<div class="ps-3">
						<h4 class="">Address</h4>
						<p class="mb-0">D103 Swagat Rain Forest-1, Opposite Ugti Complex, Next to HDFC Bank.</p><p class="pt-1">Kudasan Gandhinagar</p>
					</div>
				</div>
				<div class=" col-lg-3 d-inline-flex">
					<div>
						<button class="icon-style p-2">
								<a style="text-decoration:none" href="callto:9518558141">
								<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
									<path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
								</svg>
							</a>
						</button>
					</div>
					<div class="ps-3">
						<h4 class="">Phone</h4>
						<p>+91 9518558141</p><p>+91 9909518557</p>
					</div>
				</div>
				<div class=" col-lg-4 d-inline-flex">
					<div>
						<button class="icon-style p-2">
							<a style="text-decoration:none" href="mailto:ushmit270285@gmail.com" >
								<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
								<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
								</svg>
							</a>
						</button>
					</div>
					<div class="ps-3">
						<h4 class="">Email Address</h4>
						<p class="mb-0 pb-2">ushmit270285@gmail.com</p>
					</div>
				</div>
				</div>
			</div>
			@* <div class="col-md-6 col-12 text-white p-3 navbar-bg-custom">
				<div class="m-3">
					<h3 class="text-center">Contact Us</h3>
					<table>
						<tr>
							<td>
								<button class="icon-style p-2">
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
										<path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
										<path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
									</svg>
								</button>								
							</td>
							<td class="p-3">
								<h4 class="">Address</h4>
								<p>D103 Swagat Rain Forest-1, Opposite Ugti Complex, Next to HDFC Bank.</p><p>Kudasan Gandhinagar</p>
							</td>
						</tr>
						<tr>
							<td>
								<button class="icon-style p-2">
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
										<path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
									</svg>
								</button>								
							</td>
							<td class="p-3">
								<h4 class="">Phone</h4>
								<p>+91 9518558141</p><p>+91 9909518557</p>
							</td>
						</tr>
						<tr>
							<td>
								<button class="icon-style p-2">
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
										<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
									</svg>
								</button>								
							</td>
							<td class="p-3">
								<h4 class="">Email Address</h4>
								<p>ushmit270285@gmail.com</p>
							</td>
						</tr>
					</table>
				</div> *@
			</div>
		</div>
	</div>
</div>

<script src="//cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/swiper-bundle.min.js"></script>
<script src="//cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/script.js"></script>