body {
    /*font-family: "Roboto Flex", serif;*/
    font-family: "Tinos", serif;
}
.logo-resize-small{
    width:40px;
    height:auto;
}
.font-medium {
    font-size: 1.2rem;
}
.image-container {
    position: relative;
    background-image: url('../Images/HomeBack.png'); /* Replace with your image */
    background-size: cover;
    background-position: center;
    height:98vh;
}
.image-container-sp {
    position: relative;
    background-image: url('../Images/SpecializationBackground.png'); /* Replace with your image */
    background-size: cover;
    background-position: center;
    height: 75vh;
}
.about-uc-bg {
    background: linear-gradient(135deg, #d6b9a0, #f0e1d2, #c9b69d);
}
.title-text {
    font-size: 4rem;
}
.title-sm-text {
    font-size: 3rem;
}
.navbar-bg-custom {
            background-color: rgba(0, 0, 0, 0.6); /* Dark background with transparency */
            backdrop-filter: blur(10px); /* Apply blur effect */
            -webkit-backdrop-filter: blur(10px); /* For Safari support */
}

.background-light-div {
    /*background-color: #fffbf3;*/
    background-color: #fffbf3;
}
.text-main {
    color: #006A67;
}
.text-gradient {
    /*color: #19647b;*/
    background-image: linear-gradient(green, blue);
    color: transparent;
    background-clip: text;
}
.btn-style {
    border-radius: 25px; /*
    background-color: #006A67;*/
    background: linear-gradient(to bottom right, #006A67, #00bfae);
}
.bg-main {
    background-color: #006A67;
}
.carosel-div{
    height:75vh;
    border: solid 2px;
    border-radius:9px;
 }

.carosel-icons{
    border: solid 2px;
    border-radius:15px;
    padding: 5px;
    font-weight:400;
}
.outlined-text {
    font-family: 'Roboto', sans-serif;
    color: white; /* Text color */
    text-shadow: 1px 1px 0px black, -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black; /* Simulated outline */
}